<div id="bordered-box">
<div id="listings-box">
	<div class="label">
		Editing "<%=h @article.title %>"
	</div>
	
	<div class="body">

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title, :size => 70 %>
  </p>
  <p>
  	Created by *writer* on <%= @article.date %>.<br />
  </p>
  <p>
    <b>Body</b><br />
    <%= f.text_area :body, :rows => 20, :cols => 100 %>
  </p>

  <p>
    <label for="category">Category<br /></label>
    	<select name="category">
    		<% for category in @categories %>
    			<% if @article.category_id == category.id %>
    				<option value="<%= category.id %>" selected>
    				<%= category.category_name %>
    				</option>
    			<% else %>
    				<option value="<%= category.id %>">
    				<%= category.category_name %>
    				</option>
    			<% end %>
    		<% end %>
    	</select>
  </p>
  
  <p>
  	<b>Published Status: </b><%= @article.published_status %><br />
  </p>
  <p>
    <%= button_to "Save", :method => :put, :action => :update, :id => @article %>
  </p>
	<p>
	Warning: Make sure you have saved before previewing or you will lose your work!
		<%= button_to "Preview", :action => :preview, :id => @article %>
	</p>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
</div>
</div>
</div>
