<h1>Listing articles</h1>

<table>
  <tr align="left">
    <th>Title</th>
    <th>Preview</th>
    <th>Date</th>
    <th>Author</th>
    <th>Category</th>
    <th>Published?</th>
  </tr>

<% for article in @articles.reverse %>
  <tr>
    <td>
    	<dl>
    		<dt><b><%= link_to truncate(article.title.gsub(/<.*?>/,''), 30), article %></b></dt>
    		<dt>(<%= article.get_count %>) Comments</dt>
    	</dl>
    </td>
    <td><%=h truncate(article.body.gsub(/<.*?>/,''), 40) %></td>
    <td><%=h article.time_ago_or_time_stamp %></td>
    <td><%=h article.author %></td>
    <td><%=h article.category.category_name %></td>
    <td align="center"><%=h article.check_if_published %></td>
    <td>
    	<dl>
    		<dt><%= link_to 'Modify', edit_article_path(article) %></dt>
    		<dt><%= link_to 'Delete', article, :confirm => 'Are you sure?', :method => :delete %></dt>
    	</dl>
    </td>
  </tr>
<% end %>
</table>

<br />
