<div id="bordered-box">
<div id="listings-box">
	<div class="label">
		New Article
	</div>
	
	<div class="body">

<% form_for(@article) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <b>Body</b><br />
    <%= f.text_area :body, :rows => 20, :cols => 100 %>
  </p>
	<p>
		<label for="category">Category<br /></label>
			<select name="category">
				<% for category in @categories %>
					<option value="<%= category.id %>">
					<%= category.category_name %>
					</option>
				<% end %>
			</select>
	</p>
	<p>
		<b>Published Status: </b> Not published yet.<br />
	</p>
  <p>
    <%= f.submit "Save" %>  ||   <%= link_to 'Cancel', articles_path %>
  </p>
</div>
<% end %>
</div>
</div>
