<div id="blog-display">
	<div class="label">
		<%=h @article.title %>
	</div>
	
	<div class="article">
		<p>
			Created by *writer*, <%=h @article.time_ago_or_time_stamp %>
		</p>
		<p>
  			<%= @article.body %>
		</p>

		<p>
  			<b>Category:</b>
   		<%= @article.category.category_name %>
		</p>
		<% if session[:user_id] %>
		<p>
			<b>Published Status:</b>
			<%=h @article.published_status %>
			
			<% unless @article.published_status == "Published" %>
				<%= button_to "Publish", :action => :publish, :id => @article %>
			<% end %>
		</p>
		<% end %>

		<p>
		<hr />
		
		<b>Comments (<%= @article.get_count %>): </b><br /><br />
			<% if @article.comments.empty? %>
				There are no comments yet. Be the first to leave a comment!<br />
			<% end %>
			<% for comment in @article.comments %>
				<%= comment.body %>
				<hr />
			<% end %><br />
		Comment on this article:
		<%= form_tag :action => "comment", :id => @article %>
			<%= text_area "comment", "body", :rows => 3, :cols => 70 %><br />
			<%= submit_tag "Post Comment" %>
		</form>
		</p>
<% if session[:user_id] %>
	<%= link_to 'Edit', edit_article_path(@article) %> |
	<%= link_to 'Back', articles_path %>
<% end %>
