<div id="blog-display">
<p>
  <h2><%=h @article.title %></h2>
</p>
<p>
	Created by *writer* on <%=h @article.date %>
</p>
<p>
  <%= @article.body %>
</p>

<p>
  <b>Category:</b>
   <%= @article.category.category_name %>
</p>
<p>
	<b>Published Status:</b>
	<%=h @article.published_status %>
	<%= button_to "Publish", :action => :publish, :id => @article %>
</p>

<p>
	<b>Comments: </b><br />
		<% for comment in @article.comments %>
			<%= comment.body %>
			<hr />
		<% end %>
	
	<%= form_tag :action => "comment", :id => @article %>
		<%= text_area "comment", "body", :rows => 3, :cols => 70 %><br />
		<%= submit_tag "Post Comment" %>
	</form>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> |
<a href="http://localhost:3000/blog">Main Page</a>
</div>
