<h1>New user</h1>

<% form_for(@user) do |f| %>
  <fieldset>
  <legend>Enter User Details</legend>
<table>
  <tr>
    <td>Username:</td>
    <td><%= f.text_field :name, :size => 40 %></td>
  </tr>
 
  <tr>
    <td>Password:</td>
    <td><%= f.password_field :password, :size => 40 %></td>
  </tr>
  <tr>
    <td>Confirm Password:</td>
    <td><%= f.password_field :password_confirmation, :size => 40 %></td>
  </tr>
</table>
  <p>
    <%= f.submit "Create" %>
  </p>
  </fieldset>
<% end %>

<%= link_to 'Back', users_path %>
