<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Simple Blog App</title>
  <%= stylesheet_link_tag 'scaffold', 'blog' %>
</head>
<body id="blog">

	<div id="banner">
		<%= @page_title || "Simple Blog App" %>
	</div>

	<div id="wrapper">
		<div id="side-panel">
		
			<a href="http://localhost:3000/articles">View Articles</a><br />
			<a href="http://localhost:3000/categories">View Categories</a><br /><br /><br />
			
			
			<label for="category"><b>Browse by Category:</b><br /></label>
				<div id="category-box">
					<% for category in @categories %>
						<div id="category-entry">
							<%= link_to category.category_name, category %>
							<text align="right">(<%= category.get_count %>)<br />
						</div>
					<% end %>
				</div>
			<%= button_to "New Category", :action => "new_category" %>
			
		</div>
		
		<div id="main">
		
			<% if flash[:notice] %>
				<div id="notice">
					flash[:notice]
				</div>
			<% end %>
			
			<%= yield :layout %>
		</div>

	</div>

<p style="color: green"><%= flash[:notice] %></p>

</body>
</html>