<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Simple Blog App</title>
  <%= stylesheet_link_tag 'scaffold', 'blog' %>
</head>
<body id="blog">

	<div id="banner">
		<%= @page_title || "Simple Blog App" %>
	</div>

	<div id="wrapper">
		<div id="side-panel">
			<%= link_to 'Main Page', :controller => :blog, :action => "index" %><br />
			
			<% if session[:user_id] %>
				<%= link_to 'View All Articles', :controller => 'articles' %><br />
				<%= link_to 'View All Categories', :controller => 'categories' %><br /><br />
				<%= button_to "New Category", :controller => 'categories', :action => 'new' %>
				
			<% end %><br /><br /><br />
			
			<label for="category"><b>Browse by Category:</b><br /></label>
				<div id="category-box">
					<% for category in @categories %>
						<div id="category-entry">
							<%= link_to category.category_name, category %>
							<text align="right">(<%= category.get_count %>)<br />
						</div>
					<% end %>
				</div>
				<br /><br />
				
			<% if session[:user_id] %>
				<%= button_to 'Logout', :controller => 'admin', :action => 'logout' %>
			<% end %>
			
		</div>
		
		<div id="main">
		
			<% if flash[:notice] %>
				<div id="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>
			
			<%= yield :layout %>
		</div>

	</div>

</body>
</html>